# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
**/venv/
**/env/

# Dependencias de Node (Frontend)
**/node_modules/
npm-debug.log*
**/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Base de datos y entorno
db.sqlite3
.env

# Claude Code
CLAUDE.md

# OS
.DS_Store
Thumbs.db
